.main-nav {
  //display: none;
  position: absolute;
  top: 150px;
  right: 0;
  z-index: 10;
  width: 100%;
  max-height: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 500;
  color: $main-color;
  text-align: right;
  overflow: hidden;
  // border-top: none;
  // border-bottom: none;
  background-color: $white;
  opacity: 0.3;
  transition: all 0.2s;

  &::before,
  &::after {
    position: absolute;
    z-index: 1;
    right: 0;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: $second-color;

    @media (min-width: $screen-md) {
      max-width: 200px;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: $screen-md) {
    order: 3;
    top: 90px;
  }

  @media (min-width: $menu-desktop-width) {
    position: static;
    max-height: none;
    height: auto;
    width: auto;
    padding: 0;
    order: 0;
    opacity: 1;
  }

  $block-name:                &; // #{$block-name}__element

  &--open {
    max-height: 100vh;
    padding: 25px 20px;
    // margin: 15px 0;
    // border-top: 3px solid $main-color;
    // border-bottom: 3px solid $main-color;
    opacity: 1;
    transition: all 0.6s;

    @media (min-width: $screen-md) {
      max-width: 200px;
      margin-left: auto;
    }
  }

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-md) {
      // max-width: 200px;
      // margin-right: auto;
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;

    &.active {

      & > #{$block-name}__link {
        color: $second-color;
        pointer-events: none;
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: $text-color;
    background-color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $second-color;
    }

    @media (min-width: $menu-desktop-width) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
