/* roboto-regular - latin_cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v18-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html,
body {
  // ТОЛЬКО типографика!
  font-size: 16px;
  font-weight:  $font-weight;
  font-family: $font-family;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
  color: $text-color;
  text-decoration-skip-ink: auto;

  @media (min-width: $screen-xl) {
    font-size: 20px;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.17;
  color: $text-color;

  &::selection {
    color: $white;
    background: $second-color;
  }
}

.h1,
.h2,
h1,
h2 {
  margin-top: 0;
  margin-bottom: ($line-height / 2);
}

.h3,
.h4,
.h5,
.h6,
h3,
h4,
h5,
h6 {
  margin-top: $line-height * 0.9;
  margin-bottom: ($line-height / 2);
}

.h1,
h1 {
  font-size: 38px;

  @media (min-width: $screen-xl) {
    font-size: 56px;
  }
}

.h2,
h2 {
  font-size: 28px;

  @media (min-width: $screen-xl) {
    font-size: 38px;
  }
}

.h3,
h3 {
  font-size: 20px;

  @media (min-width: $screen-xl) {
    font-size: 24px;
  }
}

.h4,
h4 {
  font-size: 16px;

  @media (min-width: $screen-xl) {
    font-size: 20px;
  }
}

.h5,
h5 {
  font-size: 16px;

  @media (min-width: $screen-xl) {
    font-size: 18px;
  }
}

.h6,
h6 {
  font-size: 14px;

  @media (min-width: $screen-xl) {
    font-size: 16px;
  }
}

.p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin-top: СТРАНИЦА НЕ НАЙДЕНА ИЛИ НЕ СУЩЕСТВУЕТ…;
  margin-bottom: ($line-height / 2);
  color: currentColor;

  &::selection {
    color: $white;
    background: $second-color;
  }
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.2em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

hr {
  margin-top: $line-height;
  margin-bottom: $line-height;
  border: 0;
  border-top: 1px solid $border-color;
}

// .small,
small {
  // font-size: $font-size--small;
}

sub,
sup {
  font-size: 65%;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  //text-decoration: underline dotted;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  color: $second-color;
  text-decoration-skip-ink: auto;
  transition: all 0.3s ease-out;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }

  &::selection {
    color: $white;
    background: $second-color;
  }
}

a, b, i, strong, em, small, code {
  line-height: inherit;
}

q {
  quotes:  "«" "»";
}

span {
  &::selection {
    color: $white;
    background: $second-color;
  }
}
