.socials {

  $block-name:                &; // #{$block-name}__element

  a {
    display: inline-block;
    vertical-align: top;
    padding: 0 8px;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $second-color;
    }

    @media (min-width: $screen-xl) {

      &:first-child {
        padding-left: 0;
      }
    }
  }

  svg {
    display: block;
    fill: currentColor;
  }

  &--message {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;

    @media (min-width: $screen-xl) {
      margin-left: 20px;
    }
  }
}
